---
title: AEM Cloud Manager テスト結果の分析
description: AEM Cloud Manager からのレポート結果の調査と修正
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
duration: 342
source-git-commit: f4c621f3a9caa8c2c64b8323312343fe421a5aee
workflow-type: tm+mt
source-wordcount: '72'
ht-degree: 100%

---

# テスト結果の分析 {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="テスト結果の分析"
>abstract="コード内のコンパイルエラーを調査し、このコードが AEM as a Cloud Service のベストプラクティスに従っているかどうかを確認します"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=ja#how-to-use" text="テスト結果の理解"

コード内のコンパイルエラーを調査し、このコードが AEM as a Cloud Service のベストプラクティスに従っているかどうかを確認します

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
