---
title: 'AEM Cloud Managerテスト結果の分析 '
description: AEM Cloud Managerからのレポート結果の確認と修正
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# テスト結果の分析

コード内のコンパイルエラーを調べ、このコードがAEMのCloud Serviceとしてのベストプラクティスに従っているかどうかを調べます。

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)