---
title: 'AEM Cloud Managerテスト結果の分析 '
description: AEM Cloud Managerからのレポート結果の確認と修正
role: Developer
level: Beginner
type: Tutorial
topic: 開発
feature: 開発者ツール
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '0'
ht-degree: 0%

---


# テスト結果の分析

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="テスト結果の分析"
>abstract="コードにコンパイルエラーがある場合、およびこのコードがAEMのCloud Serviceとしてのベストプラクティスに従っているかどうかをIExploreします。"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=ja#how-to-use" text="テスト結果の理解"

コード内のコンパイルエラーを調べ、このコードがAEMのCloud Serviceとしてのベストプラクティスに従っているかどうかを調べます。

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
